/venv/
/SeedPermutations.db
/SeedPermutations.db-journal
/SeedPermutationsOld.db
/CreateBitcoinAddress.py
/.idea/.gitignore
/.idea/Bitcoin.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
